/Otros/GloriousRome/build/
/Otros/GloriousRome/dist/
/Otros/buscaMinas/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_19_12_22/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_modificadores/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_modificadores/build/
/EjerciciosDeClase/Trimestre02/002_Instituto/nbproject/private/
/EjerciciosDeClase/Trimestre02/000_ProyectoPrueba/nbproject/private/
/EjerciciosDeClase/Trimestre02/000_ProyectoPrueba/build/
/EjerciciosDeClase/Trimestre02/003_ClasesEstaticas/nbproject/private/
/EjerciciosDeClase/Trimestre02/003_MiembrosEstaticas/nbproject/private/
/EjerciciosDeClase/Trimestre02/003_MiembrosEstaticas/build/
/EjerciciosDeClase/Trimestre02/004_Micole/build/
/EjerciciosDeClase/Trimestre02/004_Micole/dist/
/Otros/PorcentajeAnio/nbproject/private/
/Otros/PorcentajeAnio/build/
/Otros/PorcentajeAnio/dist/
/Otros/buscaPepos/nbproject/private/
/Otros/TresEnRaya/nbproject/private/
/Otros/TresEnRaya/build/
/Otros/buscaPepos/build/
/EjerciciosDeClase/Trimestre02/006_MiembrosEstaticos/nbproject/private/
/Otros/Pruebas/002_proyecto2d/nbproject/private/
/EjerciciosDeClase/Trimestre02/006_MiembrosEstaticos/build/