/Otros/GloriousRome/build/
/Otros/GloriousRome/dist/
/Otros/buscaMinas/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_19_12_22/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_modificadores/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_modificadores/build/
/EjerciciosDeClase/Trimestre02/002_Instituto/nbproject/private/
/EjerciciosDeClase/Trimestre02/000_ProyectoPrueba/nbproject/private/
/EjerciciosDeClase/Trimestre02/000_ProyectoPrueba/build/
/EjerciciosDeClase/Trimestre02/003_ClasesEstaticas/nbproject/private/
/EjerciciosDeClase/Trimestre02/003_MiembrosEstaticas/nbproject/private/
/EjerciciosDeClase/Trimestre02/003_MiembrosEstaticas/build/
/EjerciciosDeClase/Trimestre02/004_Micole/build/
/EjerciciosDeClase/Trimestre02/004_Micole/dist/
/Otros/PorcentajeAnio/nbproject/private/
/Otros/PorcentajeAnio/build/
/Otros/PorcentajeAnio/dist/
/Otros/buscaPepos/nbproject/private/
/Otros/TresEnRaya/nbproject/private/
/Otros/TresEnRaya/build/
/Otros/buscaPepos/build/
/EjerciciosDeClase/Trimestre02/006_MiembrosEstaticos/nbproject/private/
/Otros/Pruebas/002_proyecto2d/nbproject/private/
/EjerciciosDeClase/Trimestre02/006_MiembrosEstaticos/build/
/Otros/Pruebas/002_proyecto2d/build/
/EjerciciosDeClase/Trimestre02/007_FechasFactorias/build/
/Otros/Pruebas/001_Factorias/nbproject/private/
/Otros/Pruebas/001_Factorias/build/
/EjerciciosDeClase/Trimestre02/008_Jarras/nbproject/private/
/EjerciciosDeClase/Trimestre02/008_Jarras/build/
/EjerciciosDeClase/Trimestre02/009_ManejoExcepciones/nbproject/private/
/EjerciciosDeClase/Trimestre02/009_ManejoExcepciones/build/
/EjerciciosDeClase/Trimestre02/010_EjercicioFechasFactoriasExcepciones/nbproject/private/
/EjerciciosDeClase/Trimestre02/010_EjercicioFechasFactoriasExcepciones/build/
/EjerciciosDeClase/Trimestre02/011_EjerciciosFactoriasExcepciones/nbproject/private/
/EjerciciosDeClase/Trimestre02/011_EjerciciosFactoriasExcepciones/build/
/Otros/Proyectos/Chincho II/nbproject/private/
/Otros/Pruebas/002_proyecto2d/dist/
/Otros/Proyectos/PruebaPdf/nbproject/private/
/Otros/Proyectos/PruebaPdf/build/
/Otros/Pruebas/PruebaPdf/build/
/Otros/Pruebas/PruebaPdf/nbproject/private/
/Otros/Proyectos/Chincho II/build/
/EjerciciosDeClase/Trimestre02/012_/nbproject/private/
/EjerciciosDeClase/Trimestre02/012_/build/
/EjerciciosDeClase/Trimestre02/013_Ordenacion/nbproject/private/
/EjerciciosDeClase/Trimestre02/013_Ordenacion/build/
/EjerciciosDeClase/Trimestre02/013_Ordenacion/dist/
/Entornos/LlenarNumeros/nbproject/private/
/Entornos/LlenarNumeros/build/
/Entornos/014_EjercicioOrdenacion/nbproject/private/
/Entornos/014_EjercicioOrdenacion/build/
/Otros/Proyectos/Chincho II/dist/
/Entornos/015_EjercicioDeOrdenación(Personas)/nbproject/private/
/Entornos/015_EjercicioDeOrdenación(Personas)/build/
/EjerciciosDeClase/Trimestre02/015_EjercicioDeOrdenación(Personas)/nbproject/private/
/EjerciciosDeClase/Trimestre02/015_EjercicioDeOrdenación(Personas)/build/
/Otros/Proyectos/016_Futbolistas/nbproject/private/
/Otros/Proyectos/Defector/nbproject/private/
/Otros/Proyectos/Defector/build/
/Otros/Proyectos/018_Herencia/nbproject/private/
/Otros/Proyectos/018_Herencia/build/
/Otros/Proyectos/Defector/dist/
/EjerciciosDeClase/Trimestre02/014_EjercicioOrdenacion/nbproject/private/
/EjerciciosDeClase/Trimestre02/019_FigurasGeometricas/nbproject/private/
/EjerciciosDeClase/Trimestre02/019_FigurasGeometricas/build/
/EjerciciosDeClase/Trimestre02/020_ClasesAbstractas/nbproject/private/
/EjerciciosDeClase/Trimestre02/020_ClasesAbstractas/build/
/EjerciciosDeClase/Trimestre02/021_EjercicioAnimales/nbproject/private/
/EjerciciosDeClase/Trimestre02/021_EjercicioAnimales/build/
/Otros/Proyectos/Refector/nbproject/private/
/Otros/Proyectos/Refector/build/
/EjerciciosDeClase/Trimestre02/023_Interfaces/nbproject/private/
/EjerciciosDeClase/Trimestre02/023_Interfaces/build/
/EjerciciosDeClase/Trimestre02/0161_OrdenandoHashMap/nbproject/private/
/EjerciciosDeClase/Trimestre02/024_ArchivosDeTexto/nbproject/private/
/EjerciciosDeClase/Trimestre02/024_ArchivosDeTexto/build/
/Otros/Proyectos/ProGoles/nbproject/private/
/Otros/Proyectos/ProGoles/build/
/EjerciciosDeClase/Trimestre02/Examen7Marzo2023_ALUS/025_Examen7Marzo2023_ALUS/nbproject/private/
/EjerciciosDeClase/Trimestre02/025_Examen7Marzo2023_ALUS/build/
/EjerciciosDeClase/Trimestre02/026_EjercicioPaises/nbproject/private/
/EjerciciosDeClase/Trimestre02/027_ArchivosBinarios/nbproject/private/
/EjerciciosDeClase/Trimestre02/027_ArchivosBinarios/build/
/EjerciciosDeClase/Trimestre02/026_EjercicioPaises/build/
/EjerciciosDeClase/Trimestre02/027_EjercicioMascotas/nbproject/private/
/EjerciciosDeClase/Trimestre02/028_EjercicioMascotas/nbproject/private/
/EjerciciosDeClase/Trimestre02/028_EjercicioMascotas/build/
/EjerciciosDeClase/Trimestre02/029_PreguntaExamen/nbproject/private/
/EjerciciosDeClase/Trimestre02/029_PreguntaExamen/build/
/EjerciciosDeClase/Trimestre02/027_ArchivosBinarios/dist/
/EjerciciosDeClase/Trimestre02/030_RepasoExamen/nbproject/private/
/EjerciciosDeClase/Trimestre02/030_RepasoExamen/build/
/EjerciciosDeClase/Trimestre02/031_EjercicioExamen2/nbproject/private/
/EjerciciosDeClase/Trimestre03/001_InterfazGrafica/nbproject/private/
/EjerciciosDeClase/Trimestre03/001_InterfazGrafica/build/
/EjerciciosDeClase/Trimestre03/002_GUI2_ObjetosEnTablaYLista/nbproject/private/
/EjerciciosDeClase/Trimestre03/002_GUI2_ObjetosEnTablaYLista/build/
/EjerciciosDeClase/Trimestre03/003_GUI3_Eventos/nbproject/private/
/EjerciciosDeClase/Trimestre03/003_GUI3_Eventos/build/
/EjerciciosDeClase/Trimestre03/003_GUI3_Eventos/dist/
/EjerciciosDeClase/Trimestre03/004_GUI4_ComboBoxListener/nbproject/private/
/EjerciciosDeClase/Trimestre03/004_GUI4_ComboBoxListener/build/