/Otros/GloriousRome/build/
/Otros/GloriousRome/dist/
/Otros/buscaMinas/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_19_12_22/nbproject/private/
/EjerciciosDeClase/Trimestre02/001_modificadores/nbproject/private/